<!DOCTYPE html>
<html lang="en">
<%- include("partials/headTag", {title: "Message club", style: "messages"}) %>
<body>
	<%- include("partials/header") %>
	<div class="newMessageHeader">
		<div>
			<h2>Post a new message</h2>
			<span>
				<%= `Your current role is ${locals.currentUser.role}.` %>
				<% if (locals.currentUser.role === "user") { %>
					In order to see who posted what and when, you will need to upgrade your account by clicking <a href="/messages/upgrade">here</a>
				<% } %>
			</span>
		</div>
		<button class="mainBtn" id="msgBtn">New message</button>
	</div>
	<%- include("partials/message", { messages: messages }) %>
	<%- include("partials/newMessageForm") %>
	<script src="messages.js" defer></script>
	<%- include("./partials/footer") %>
</body>
</html>